/* Sidebar CSS */
.wrapper .sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #191919;
  padding: 30px 0;
}

.brand {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.brand h5 {
  color: #c2c4c7
}

.wrapper .sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(225, 225, 225, 0.05);
}

.wrapper .sidebar ul li a {
  color: #c2c4c7;
  display: block;
}

.wrapper .sidebar ul li a .fas {
  width: 25px;
}

.wrapper .sidebar ul li:hover {
  background-color: #323232;
}

.wrapper .sidebar ul li:hover a {
  color: #fff;
}

.active {
  background-color: #323232;
}

.social-media-icons {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.social-media-icons a {
  display: block;
  width: 40px;
  background: #323232;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 5px;
  color: #c2c4c7;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.social-media-icons a:hover {
  color: #323232;
  background-color: #c2c4c7;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
    width: 0;
    height: 0;
    padding: 0;
  }

  .sidebar.open {
    display: block;
    height: 100%;
    position: fixed;
    width: 250px;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .close-btn {
    display: block;
    color: #c2c4c7;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .brand {
    margin: 20px;
  }
  
}